@import url('./reset.css');
.login-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 32px;
  gap: 8px;
}

.input-text {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
  transition: border-color 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.input-text:hover {
  border-color: #000000;
}
.input-text:focus {
  border-color: #4e75ff;
}

.form-btn {
  width: 91px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
  color: #ffffff;
  transition: background-color 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.form-btn:hover,
.form-btn:focus {
  background-color: #6c8cff;
}

.card-container {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.list-group-item {
  border: 1px solid #808080;
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.list-group-item:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 5px #ccc;
}

.card-img {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.card-box-text {
  display: flex;
  padding: 4px 20px;
  justify-content: space-between;
}
.card-text {
  color: #2e2f42;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.48px;
}
.card-text span {
  font-weight: 400;
  line-height: 24px;
}

.loader-box {
  text-align: center;
}
.loader {
  font-size: 48px;
  color: #2e2f42;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.loader:after {
  content: 'Loading';
  position: relative;
  z-index: 5;
}
.loader:before {
  content: '';
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(#ff3d00 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}

.button.is-hidden {
  display: none;
}

.button > .spinner {
  display: none;
  margin-right: 5px;
}

.button:disabled > .spinner {
  display: inline-block;
}

.btn-container {
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 16px;
}
.load-more-btn {
  width: 120px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
  color: #ffffff;
  transition: background-color 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0 auto;
  text-align: center;
  /* }
.form-btn:hover,
.form-btn:focus {
  background-color: #6c8cff;
} */
}
